@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root{
  --font:"Geist",sans-serif;
}
@theme inline{
  --font-geist:var(--font);
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/aalto.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyFont', sans-serif;
}