@import url("https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* Fonts */

@font-face {
  font-family: "Melody";
  src: url("/fonts/Melody.woff2") format("woff2");
  font-weight: 400;
}

/* Tailwind theme */

@theme {
  --font-geist: "Geist", sans-serif;
  --font-melody: "Melody", sans-serif;
}

body {
  font-family: var(--font-geist);
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}